<block name="header"><include file="Part:header" /></block>

<style type="text/css">
	#search_text{
		height:34px;
		font:20px Arial;
		color:#000;
		width:80%;
		margin:auto;
		border-radius:5px 0px 0px 5px;
		border:0px solid #fff;
		padding:0px 10px;
		float:left;
	}
	.search_text_btn{
		height:34px;
		line-height:1;
		border-radius:0px 5px 5px 0px;
	}
	#amz-go-top1{
		position:fixed;
		bottom:10px;
		right:10px;
		z-index:99999;
	}
	.margin-A{
		margin-top:0px;
		margin-bottom:5px;
	}
	.margin-B{
		margin-top:2px;
		margin-bottom:2px;
	}
	.font-A{
		font:400 10px "Segoe UI";
		line-height:12px;
	}
	.btn-loading-example:hover{
		color:#0e90d2;
	}
</style>

<!--button id="amz-go-top" data-am-smooth-scroll="{position: 189}" class="am-btn am-icon-arrow-up am-radius "></button-->


<!--a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" href="#" data-am-offcanvas="{target: '#admin-offcanvas'}"></a-->

<!--a data-am-smooth-scroll href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up am-active" id="amz-go-top"></a-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>上海东同</strong> <small>图书管理系统</small>
    </div>
	
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-search"></span></button>
	
	<if condition="($params['id'] gt 0) OR ($params['key_word']) "> 
	<a href='{{:U("Book/bookList")}}' class="am-topbar-btn am-btn am-fr am-btn-sm am-btn-warning " ><span class="am-icon-home"></span></a>
	<else />
	<a href='{{:U("Book/bookList")}}' class="am-topbar-btn am-btn am-fr am-btn-sm am-btn-warning " ><span class="am-icon-refresh"></span></a>
	</if>
	

    <div class="am-collapse am-topbar-collapse" style="padding:3px 10px;" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li>
				<form action="{{:U('Book/bookList')}}" method="get" class="am-form">
					<div class="am-form-group am-form-error am-form-icon am-form-feedback">
						<input id="search_text" placeholder="书名 或 手机号" name="key_word" type="text" value="{{$params['key_word']}}" />
						<span style="color: rgba(101, 90, 90, 0.92);top:7px;right:68px;padding:10px;" class="am-icon-close" id="clear_search"></span>
					</div>
					
					<input id="book_id" type="hidden" value="{{$params['id']}}" />
					<button style="width:19%;" type="submit" class="am-btn am-btn-danger search_text_btn">搜索</button>
				</form>
			</li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
  
  <!-- content start -->
  <div class="admin-content">

    <div class="admin-content-body">

      <hr>
      <ul class="am-avg-sm-1 am-avg-md-4 am-panel-group am-avg-lg-6 am-margin gallery-list" id="accordion">
		
      </ul>
	  

    </div>

    <footer class="admin-content-footer" >
      <hr>
	  <center id="nextPage" hidden>
		<i style="font-size:20px;margin-bottom:5px;" class="am-icon-spinner am-icon-spin"></i> wait...
	  </center>
    </footer>
	

  </div>
  <!-- content end -->

</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="my-borrow">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">确认借阅</div>
    <div class="am-modal-bd am-g">
		《<font id="borrow-book-name"></font>》 <hr>
		<form class="checkForm" id="borrow_form">
		<!--am-form-error-->
		<div class="">
			<input name="user_name" type="text" class="margin-B am-form-field" placeholder="请输入你的名字">
		</div>
		
		<div class="">
			<input name="phone" type="text" class="margin-B am-form-field" placeholder="请输入手机号码">
		</div>
		
		<div class=" am-u-sm-8" style="padding-left:0px;">
			<input name="code" type="text" class="am-form-field" style="margin-top:5px;" placeholder="验证码" />
		</div>
		
		<a class="btn-loading-example am-btn" style="margin-top:5px;" >获取</a>
		</form>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="my-return">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">确认还书</div>
    <div class="am-modal-bd am-g">
		《<font id="return-book-name"></font>》 <hr>
		<form class="checkForm" id="return_form">
		
		<div class="">
			<input name="phone" type="text" class="margin-B am-form-field" placeholder="请输入手机号码">
		</div>
		
		<div class=" am-u-sm-8" style="padding-left:0px;">
			<input name="code" type="text" class="am-form-field" style="margin-top:5px;" placeholder="验证码" />
		</div>
		
		<a class="btn-loading-example am-u-sm-4 am-btn" style="margin-top:5px;" >获取</a>
		</form>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="my-lose">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">上报丢失</div>
    <div class="am-modal-bd am-g">
		《<font id="lose-book-name"></font>》 <hr>
		<form class="checkForm" id="lose_form">
		
		<div class="">
			<input name="phone" type="text" class="margin-B am-form-field" placeholder="请输入手机号码">
		</div>
		
		<div class=" am-u-sm-8" style="padding-left:0px;">
			<input name="code" type="text" class="am-form-field" style="margin-top:5px;" placeholder="验证码" />
		</div>
		
		<a class="btn-loading-example am-u-sm-4 am-btn" style="margin-top:5px;" >获取</a>
		</form>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="my-loading">
  <div class="am-modal-dialog" style="background-color:rgba(0,0,0,0);">
    <i style="color:#fff;" class="am-icon-spinner am-icon-spin am-icon-md"></i>
  </div>
</div>

<script type="text/javascript">
	var mc = {
			book_id:0,
			book_name:'',
			check_borrowed:0,
			do_type:'',
		};
	// 滚动到顶端
	$('#my-button').on('click', function() {
	  var $w = $(window);
	  $w.smoothScroll({position: $(document).height() - $w.height()});
	});
	
	// 借阅
	function borrow_book(name,id){
		mc.book_id = id;
		mc.book_name = name;
		mc.do_type = 'borrow';
		$('#borrow-book-name').html(name);
		$('#my-borrow').modal({
			relatedTarget: this,
			closeOnConfirm:false,
			onConfirm: function(options) {
				if(checkInput('borrow')){
					var url = '{{:U("Book/borrowBook")}}';
					var push_data = $('#borrow_form').serialize();
					push_data += '&id='+id+'&cb=0';
					$.ajax({
						url: url,
						data:push_data,
						type:'post',
						dataType:'json',
						beforeSend:function (){
							$('#my-borrow').modal('close');
							$('#my-loading').modal({
								relatedTarget: this,
								closeViaDimmer: 0
							});
						},
						success:function(data){
							$('#my-loading').modal('close');
							loadAlert('borrow',data,name,id);
						},
						error:function (){
							$('#my-loading').modal('close');
							doAlert('网络错误');
						}
					});
				}
			},
			onCancel: function() {}
		});
	}
	// 归还
	function return_book(name,id){
		mc.book_id = id;
		mc.book_name = name;
		mc.check_borrowed = 1;
		mc.do_type = 'return';
		$('#return-book-name').html(name);
		$('#my-return').modal({
			relatedTarget: this,
			closeOnConfirm:false,
			onConfirm: function(options) {
				if(checkInput('return')){
					var url = '{{:U("book/returnBook")}}';
					var push_data = $('#return_form').serialize();
					push_data += '&id='+id+'&cb=1';
					$.ajax({
						url: url,
						data:push_data,
						type:'post',
						dataType:'json',
						beforeSend:function (){
							$('#my-return').modal('close');
							$('#my-loading').modal({
								relatedTarget: this,
								closeViaDimmer: 0
							});
						},
						success:function(data){
							loadAlert('return',data,name,id);
						},
						error:function (){
							$('#my-loading').modal('close');
							doAlert('网络错误');
						}
					});
				}
			},
			onCancel: function() {}
		});
	}
	// 报失
	function lose_book(name,id){
		mc.book_id = id;
		mc.book_name = name;
		mc.check_borrowed = 2;
		mc.do_type = 'lose';
		$('#lose-book-name').html(name);
		$('#my-lose').modal({
			relatedTarget: this,
			closeOnConfirm:false,
			onConfirm: function(options){	
				if(checkInput('lose')){
					var url = '{{:U("book/loseBook")}}';
					var push_data = $('#lose_form').serialize();
					push_data += '&id='+id+'&cb=2';
					$.ajax({
						url:url,
						data:push_data,
						type:'post',
						dataType:'json',
						beforeSend:function (){
							$('#my-lose').modal('close');
							$('#my-loading').modal({
								relatedTarget: this,
								closeViaDimmer: 0
							});
						},
						success:function(data){
							loadAlert('lose',data,name,id);
						},
						error:function (){
							$('#my-loading').modal('close');
							doAlert('网络错误');
						}
					});
				}
			},
			onCancel: function() {}
		});
	}
	// 关闭Comfirm并开启alert 当alert执行难后，重新开启Comfirm
	function loadAlert(action,data,name,id){	
		$('#my-loading').modal('close');
		switch (action){
			case 'borrow':
				doAlert(data.msg, function(){
					if(data.code>0){
						borrow_book(name,id);
					}else{
						window.location.href='{{:U("Book/bookList")}}?id='+id;
					}
				})
				break;
			case 'return':
				doAlert(data.msg, function(){
					if(data.code>0){
						return_book(name,id);
					}else{
						window.location.href='{{:U("Book/bookList")}}?id='+id;
					}
				})
				break;
			case 'lose':
				doAlert(data.msg, function(){
					if(data.code>0){
						lose_book(name,id);
					}else{
						window.location.href='{{:U("Book/bookList")}}?id='+id;
					}
				})
				break;
		}
		
		
	}
	
	// 前段验证
	function checkInput(checkForm){
	
		if('borrow'===checkForm){
			
			var obj = $('#borrow_form').find('input[name="user_name"]');
			if(!obj.val()){
				showError(obj);return false;
			}
			var obj = $('#borrow_form').find('input[name="phone"]');
			if(!checkIsPhone(obj.val())){
				showError(obj);return false;
			}
			var obj = $('#borrow_form').find('input[name="code"]');
			if(!obj.val()){
				showError(obj);return false;
			}
			
		}
		
		
		
		if('return'===checkForm){
			
			var obj = $('#return_form').find('input[name="phone"]');
			if(!checkIsPhone(obj.val())){
				showError(obj);return false;
			}
			var obj = $('#return_form').find('input[name="code"]');
			if(!obj.val()){
				showError(obj);return false;
			}
			
		}
		
		if('lose'===checkForm){
			
			var obj = $('#lose_form').find('input[name="phone"]');
			if(!checkIsPhone(obj.val())){
				showError(obj);return false;
			}
			var obj = $('#lose_form').find('input[name="code"]');
			if(!obj.val()){
				showError(obj);return false;
			}
			
		}
		
		return true;
	}
	// 报错恢复
	$('input').on('change click focus',function(){
		$(this).parent('div').removeClass('am-form-error');
	});
	// 显示报错
	function showError(obj){
		$(obj).parent('div').addClass('am-form-error');
		whipping(obj);
	}
	// 摇摆动画
	var whipping_time = 24;
	var whipping_speed = 30;
	function whipping(obj){
		if(whipping_time--){
			var times = whipping_time%4;
			var obj_p = $(obj).parent('div');
			switch (times){
				case 0:obj_p.animate({paddingTop: '10px'}, whipping_speed, whipping(obj));break;
				case 1:obj_p.animate({paddingTop: '0px'}, whipping_speed, whipping(obj));break;
				case 2:obj_p.animate({paddingBottom: '10px'}, whipping_speed, whipping(obj));break;
				case 3:obj_p.animate({paddingBottom: '0px'}, whipping_speed, whipping(obj));break;
			}
		}else{
			whipping_time = 24;
		}
	}
	
	// 手机号码检测
	function checkIsPhone(phone){
		var myreg = /^1[34578]{1}\d{9}$/; 
		if(myreg.test(phone)){ 
			return true;
		} 
		return false;
	}
	
	
	// 短信验证码
	var clock = '';
	var nums = 60;
	var btn;
	var lock_code = false;
	$('.btn-loading-example').click(function () {
	
		if(nums==60){
			sendCode($(this));
		}
		
	});
	function sendCode(thisBtn){
		btn = thisBtn;
		var phone = $(thisBtn).parent('.checkForm').find('input[name="phone"]').val();
		if(!checkIsPhone(phone)){
			showError($(thisBtn).parent('.checkForm').find('input[name="phone"]'));
			return false;
		}
		if(lock_code){
			return false;
		}
		lock_code = true;
		$.ajax({
			url:'{{:U("book/sendCode")}}',
			data:'phone='+phone+'&book_id='+mc.book_id+'&cb='+mc.check_borrowed,
			type:'post',
			dataType:'json',
			beforeSend:function (){
				$(btn).html('<i class="am-icon-spinner am-icon-spin"></i>');
			},
			success:function(data){
				if(data.code==0){
					beginCount();
				}
				else if(data.code<=0){
					eval("$('#my-"+mc.do_type+"').modal('close')");
					doAlert(data.msg, function(){
						$(btn).html('获取');
						eval(mc.do_type+'_book("'+mc.book_name+'",'+mc.book_id+')');
					})
				}
				else{
					$(btn).html('reTry');
				}
				lock_code = false;
			},
			error:function (){
				$(btn).html('reTry');
				lock_code = false;
			}
		});
	}
	function beginCount(){
		$(btn).html(nums+'s');
		clock = setInterval(doLoop, 1000); //一秒执行一次
	}
	function doLoop(){
		nums--;
		if(nums > 0){
			$(btn).html(nums+'s');
		}else{
			clearInterval(clock); //清除js定时器
			$(btn).html('获取');
			nums = 60; //重置时间
		}
	}
	
	// 点击空白处收回搜索框
	$('.admin-main').click(function (){
		if($('#topbar-collapse').hasClass('am-in')){
			$('.am-topbar-btn').trigger('click');
		};
	});
	
	// 到达底部操作
	var page = 0;
	$(".admin-content").scroll(function(){
		var totalHeight = $(this).height();
        var nScrollHight = $(this)[0].scrollHeight;
        var nScrollTop = $(this)[0].scrollTop;
　　　　var paddingBottom = parseInt( $(this).css('padding-bottom') )
		var paddingTop = parseInt( $(this).css('padding-top') );
        if(nScrollTop + paddingBottom + paddingTop + totalHeight >= nScrollHight - 20){
			if(page>=0){
				getNextPage();
			}else{
				$('#nextPage').html('已经没有了');
			}
			
		}
    });
	// 获取下一页
	var loading_page = false;
	function getNextPage(){
		if(loading_page){
			return ;
		}
		++page;
		var search_text = $('#search_text').val();
		var book_id = $('#book_id').val();
		$.ajax({
			url:'{{:U("book/bookList")}}',
			data:'is_ajax=1&page='+page+'&key_word='+search_text+'&id='+book_id,
			type:'get',
			dataType:'html',
			beforeSend:function (){
				$('#nextPage').show();
				loading_page = true;
			},
			success:function(html){
				loading_page = false;
				if(html){
					$('#accordion').append(html);
					$('#nextPage').hide();
				}else{
					if(page>1){
						$('#nextPage').html('已经没有了');
					}else{
						$('#nextPage').html('');
					}
					page = -1;
				}
			},
			error:function (){
				loading_page = false;
				$('#nextPage').hide();
			}
		});
	}
	getNextPage();
	
	
	$('#search_text').on('change keyup', function (){
		is_clear_search();
	});
	function is_clear_search(){
		var search_word = $('#search_text').val();
		if(search_word){
			$('#clear_search').show();
		}else{
			$('#clear_search').hide();
		}
	};
	is_clear_search();
	
	// 搜索框双击点中全选
	$('#clear_search').click(function (){
		$('#search_text').val('');
		$('#clear_search').hide();
	});
	
</script>


<block name="footer"><include file="Part:footer" /></block>