<volist name="list" id="vo">
	<li>
		<div class="am-panel am-panel-default">
			<div class="am-panel-hd">
			  <div class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-{{$vo.id}}'}">
				<img class="am-img-thumbnail am-img-bdrs" src="__PIC__/face/{{$vo.pic}}" alt=""/>
				
				<p class="margin-A">
					<switch name="vo.status" >
						<case value="1">
							<span class="am-badge am-badge-success am-radius font-A">在架</span>
						</case>
						<case value="2">
							<span class="am-badge am-badge-warning am-radius font-A">{{$vo.user_name}}借了</span>
						</case>
						<case value="3">
							<span class="am-badge am-badge-danger am-radius font-A">丢失</span>
						</case>
					</switch>
					{{$vo.name}}
				</p>
			  </div>
			</div>
			<div id="do-not-say-{{$vo.id}}" class="am-panel-collapse am-collapse">
				<switch name="vo.status" >
					<case value="1">
						<button type="button" onclick="borrow_book('{{$vo.name}}',{{$vo.id}});" class="am-btn am-btn-warning am-btn-block am-btn-sm">点击借阅《{{$vo.name|sub_string=10}}》</button>
					</case>
					<case value="2">
						<button type="button" onclick="return_book('{{$vo.name}}',{{$vo.id}});" class="am-btn am-btn-success am-btn-block am-btn-sm">我要还书</button>
						<button type="button" onclick="lose_book('{{$vo.name}}',{{$vo.id}});" class="am-btn am-btn-danger am-btn-block am-btn-sm" style="margin-top:0px;">我要挂失</button>
					</case>
					<case value="3">
						<button type="button" onclick="return_book('{{$vo.name}}',{{$vo.id}});" class="am-btn am-btn-success am-btn-block am-btn-sm">我要还书</button>
					</case>
				</switch>
				
				
				<div class="am-panel-bd">
					{{$vo.introduction}}
				</div>
			</div>
		</div>
	</li>
</volist>